.div_login{
width: 50%;
margin: 0px auto;
height: auto;
border: 1px solid #0aa9f6;
border-radius: 10px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.div_login label{
display: block;
width: 70%;
margin: 20px 0px 5px 20px;
text-align: left;
color: #0aa9f6;
font-weight: bold;
}
.div_login input{
display: block;
width: 70%;
margin: 0px 0px 5px 20px;
padding: 10px;
border: 1px solid #0aa9f6;
border-radius: 5px;
}
.div_login h2 {
text-align: center;
color: #0aa9f6;
}
.div_login p {
margin: 20px 0px 10px 20px;
font-size: 13px;
color: #0aa9f6;
font-weight: bold;
}
.div_submit input{
margin:40px 20px 10px 0px; 
color: #002f8e; 
border:1px solid #002f8e; 
border-radius: 5px; 
background-color: #ffffff;
font-weight: bold;
font-size: 15px;
width: 10%;
padding: 10px;
}
.div_submit button{
margin:35px 20px 10px 20px; 
color: #ffffff; 
border:1px solid #0aa9f6; 
border-radius: 5px; 
background-color: #0aa9f6;
font-weight: bold;
font-size: 15px;
width: 30%;
padding: 10px;
}
.book_box{
width:350px;
height:auto;
background-color: #ffffff;
border-radius: 15px;
float: left;
margin: 20px 0px 60px 40px;
padding-bottom: 5px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.book_box h2{
color: #0aa9f6;
text-align: center;
font-size: 76px;
font-size: 30px;
padding: 10px auto 20px auto;
}
.book_text{
float:left;
font-family: Georgia, 'Times New Roman', Times, serif;
width:860px;
height:auto;
margin-left: 40px;
}
.book_text h1{
color: #ffffff;
text-align: center;
font-size: 76px;
clear: both;
margin-bottom: 40px;
}
.book_text p{
color: #ffffff;
text-align: center;
font-size: 20px;
}

.room_info{
display: block;
width:100%;
height:auto;
padding: 10px;
}
.roominput_box{
display:block;
width:100%;
height:auto;
padding-bottom: 7px;
margin-bottom: 8px;
}
.roominput_box label{
display:block;
width:100%;
padding:5px;
height 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 15px;
font-weight: bold;
color: #0aa9f6;
}
.roominput_box input{
display:block;
width:100%;
padding:4px;
height 30px;
border:1px solid #0aa9f6;
border-radius: 5px;
color: #0aa9f6;
font-weight: bold;
}
.select_box{
display:inline-block;
width:100%;
height:30px;
margin-top: 10px;
}
.select_box label{
display:inline-block;
width:58%;
padding-left:5px;
height auto;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 15px;
font-weight: bold;
color: #0aa9f6;
}
.select_box SELECT{
display: inline-block;
padding:4px;
height 30px;
border:1px solid #0aa9f6;
border-radius: 5px;
width:40%;
color: #0aa9f6;
background-color: #fff;
font-family: Arial, Helvetica, sans-serif;
}

.reg{
width:100%;
margin: 20px auto 0px auto;
background-color: #fff;
display: inline-block;
}
.custom_input_box{
display: inline-block;
width: 100%;
padding: 5px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 15px;
font-weight: bold;
color: #0aa9f6;
}
.custom_input_box label{
width: 15%;
color: #0aa9f6;
font-size: 15px;
font-weight: bold;
margin: 5px 0;
display: inline-block;
}
.custom_input_box input{
display:inline-block;
width:25%;
padding:4px;
height: auto;
border:1px solid #0aa9f6;
border-radius: 5px;
color: #0aa9f6;
font-weight: bold;
}

input[type="radio"] {
display: inline-block;
width:2%;
height: auto;
border:1px solid #0aa9f6;
color: #0aa9f6;
font-weight: bold;
}
textarea {
width:25%;
height:auto;
border:1px solid #0aa9f6;
border-radius: 5px;
color: #0aa9f6;
}
input[type="file"]{
width:25%;
height: auto;
padding:4px;
border:1px solid #0aa9f6;
color: #0aa9f6;
font-weight: bold;
}
.check_box{
display: inline-block;
width: 100%;
padding: 5px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 15px;
font-weight: bold;
color: #0aa9f6;
}
.check_box label{
width: 15%;
color: #0aa9f6;
font-size: 15px;
font-weight: bold;
margin: 5px 0;
display: inline-block;
}
.check_box span{
width: 15%;
color: #0aa9f6;
font-size: 15px;
font-weight: bold;
margin: 5px 0;
display: inline-block;
}
.contact_us{
width: 80%;
height: auto;
margin: 0px auto;
}
.contact_input_box{
display: inline-block;
width: 100%;
padding: 5px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 15px;
font-weight: bold;

}
.contact_us input{
display: inline-block;
width: 25%;
padding: 10px;
height: auto;
border: 1px solid #002f8e;
border-radius: 5px;
color: #002f8e;

}
.contact_us label{
width: 15%;
color: #ffffff;
font-size: 15px;
font-weight: bold;
margin: 5px 0;
display: inline-block;
}
.contact_input_box textarea{
display: inline-block;
width: 25%;
padding: 5px;
height: auto;
border: 1px solid #002f8e;
border-radius: 5px;
color: #002f8e;
}


@media screen and (max-width: 600px){
.div_login{
min-width: 280px;
margin: 0px auto;
height: auto;
}
.contact_us{
min-width: 280px;
margin: 0px auto;
height: auto;
}
.contact_input_box{
width: 100%;
}
.contact_input_box label{
display: block;
width: 70%;
}
.contact_input_box input{
display: block;
width: 70%;
}
.contact_input_box textarea{
width:70%;
}
.div_submit{
display:block;
width:100%;
}
.div_submit input[type="submit"]{
display:inline-block;
width:30%;
}
.reg{
min-width: 280px;
margin: 0px auto;
height: auto;
}
.custom_input_box{
width: 100%;
}
.custom_input_box label{
width: 70%;
display: block;
}
.custom_input_box input{
width: 70%;
display: block;
}
.custom_input_box input[type="radio"]{
display: block;
width:30%;
height: auto;
}
.custom_input_box textarea{
width:70%;
}
}
